nav-menu {
  top: 117px;
  max-width: 20rem;
  transform: translateX(calc(100% + 8px));
  transition: all 0.2s steps(3, end);
}

.nav-menu-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-list {
  max-width: 12rem;
  padding-top: 5rem;
}
